@import "tailwindcss";

@theme {
  --color-arq-blue: #001F3F;
  --color-arq-orange: #D35400;
  --color-lux-gold: #C5A47E;
  --color-off-white: #FDFCFB;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #1a1a1a;
}